.dashboard {
    &_about {
        padding: 10px 50px 10px 50px;
        background-color: #002847;
        // width: calc(100% - 70px); // Adjusts for left & right padding
        height: 100vh;
        overflow-x: hidden; // Prevents horizontal scrolling

        header {
            width: calc(100% - 40px);
            height: 60px;
            background-color: whitesmoke;
            border-radius: 20px;
            padding: 20px;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &_content {
            height: 90%;
            display: flex;

            &_left {
                width: 50%;
                height: 70%;
                padding: 100px 0px 0px 30px;
                color: whitesmoke;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                label {
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 50px;
                }

                p {
                    color: rgb(182, 182, 182);
                }

                button {
                    color: #002847;
                    width: 30%;
                    margin: 30px 0px 30px 0px;
                    font-weight: 700;
                    background-color: whitesmoke;
                    padding: 15px;
                    border: none;
                    outline: none;
                    border-radius: 10px;

                    &:hover {
                        background-color: whitesmoke;

                    }
                }

                :nth-child(5) {
                    font-size: 14px;
                }

            }

            &_right {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 70%;
                }
            }
        }

        &_header_left {}

        &_header_right {
            display: flex;
            align-items: center;

            ul {
                display: flex;
                list-style: none;

                li {
                    padding: 10px;
                    margin-left: 10px;
                    border-radius: 10px;
                    cursor: pointer;
                    text-align: center;

                    &:hover {
                        color: #287ec5;
                        background-color: #d4ebfb;
                    }
                }

                margin-right: 10px;
            }

            .signup_btn {
                color: white;
                background-color: #015ca3;
                border: #86a3bf;
                outline: none;
                padding: 10px;
                border-radius: 10px;
                font-weight: 700;
                cursor: pointer;
            }

            .login_btn {
                background-color: white;
                border: 1px solid black;
                outline: none;
                padding: 10px;
                border-radius: 10px;
                margin-right: 10px;
                cursor: pointer;

            }

        }
    }

    &_2nd {
        height: 60vh;
        width: 100%;

        &_top {
            display: flex;
            flex-direction: column;
            padding: 50px;
            box-sizing: border-box;
            align-items: center;
            width: 100%;
            height: 40%;

            label {
                font-size: 46px;
                font-family: 'Times New Roman', Times, serif;
                font-weight: 500;
            }

            p {
                font-weight: 500;
                text-align: center;
                color: rgb(103, 103, 103);
            }
        }

        &_bottom {
            width: 100%;
            height: 60%;
            padding: 0px 80px 0px 80px;
            box-sizing: border-box;
            display: flex;
            justify-content: space-around;

            &_cards {
                border-radius: 10px;
                background-color: whitesmoke;
                width: 350px;
                height: 250px;
                padding: 0px 20px 0px 20px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                &_icon {
                    height: 40%;
                    padding: 20px 0px 0px 10px;
                    box-sizing: border-box;

                    i {
                        background-color: #015ca3;
                        padding: 8px;
                        border-radius: 5px;
                        color: whitesmoke;
                    }
                }

                &_content {
                    height: 60%;
                }

                section {
                    label {
                        font-size: 16px;
                        font-weight: 600;
                    }

                    p {
                        color: rgb(103, 103, 103);
                        font-size: 12px;
                    }

                }
            }
        }
    }

    &_3rd {
        height: 100vh;
        width: 100%;
        background-color: #ebf7ff;

        &_header {
            height: 25%;
            display: flex;

            &_left {
                height: 100%;
                width: 70%;
                display: flex;
                flex-direction: column;
                padding: 20px 60px 0px 60px;

                div>span {
                    width: 100%;
                    background-color: whitesmoke;
                    border-radius: 10px;
                    padding: 1px 5px 1px 5px;
                    border: rgb(165, 165, 165) solid 1px;
                }


                label {
                    margin-top: 10px;
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 45px;
                }

                p {
                    color: rgb(96, 94, 94);
                }
            }

            &_right {
                height: 100%;
                width: 30%;
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    background-color: #0176d2;
                    color: whitesmoke;
                    border-radius: 10px;
                    outline: none;
                    border: none;
                    padding: 10px 20px 10px 20px;
                }
            }
        }

        &_main {
            height: 60%;
            padding: 0px 60px 0px 60px;

            &_top {
                background-color: white;
                height: 30%;
                display: flex;

                &_left {
                    height: 100%;
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    padding: 20px 60px 0px 60px;

                    label {
                        margin-top: 10px;
                        font-family: 'Times New Roman', Times, serif;
                        font-size: 25px;
                        font-weight: 600;
                    }

                    p {
                        color: rgb(96, 94, 94);
                    }
                }

                &_right {
                    height: 100%;
                    width: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    select {
                        background-color: white;
                        border-radius: 10px;
                        outline: none;
                        border: none;
                        width: 50%;
                        height: 35px;
                        border: rgb(101, 101, 101) solid 1px;
                        padding-left: 10px;
                    }
                }
            }

            &_middle {
                height: 40%;
                display: flex;
                padding: 0px 60px 0px 60px;
                background-color: white;

                &_left {
                    height: 100%;
                    width: 50%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &_card {
                        background-color: whitesmoke;
                        width: 45%;
                        border-radius: 5px;
                        border: gray solid 1px;
                        padding: 10px;

                        p {
                            color: rgb(96, 94, 94);
                            font-size: 13px;
                        }

                        label {
                            font-size: 30px;
                            font-weight: 600;
                        }
                    }
                }

                &_right {
                    height: 100%;
                    width: 50%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-left: 20px;

                    &_card {
                        background-color: white;
                        width: 30%;
                        border-radius: 5px;
                        padding: 10px;

                        p {
                            color: rgb(96, 94, 94);
                            font-size: 13px;
                        }

                        label {
                            font-size: 30px;
                            font-weight: 600;
                        }
                    }
                }
            }

            &_bottom {
                height: 30%;
                display: flex;
                padding: 0px 60px 0px 60px;
                background-color: white;

                &_1st {
                    height: 100%;
                    width: 40%;
                    border-top: 10px solid rgb(220, 220, 220);

                    p {
                        font-weight: 600;
                    }

                    label {
                        color: rgb(182, 182, 182);
                    }
                }

                &_2nd,
                &_3rd,
                &_4th {
                    p {
                        font-weight: 600;
                    }

                    label {
                        color: rgb(182, 182, 182);
                    }

                    border-top: 10px solid rgb(220, 220, 220);
                    margin-left: 5px;
                    height: 100%;
                    width: 20%;
                }
            }
        }

        &_footer {
            height: 15%;
            text-align: center;
            padding: 10px 80px 10px 80px;
        }
    }

    &_4th {
        height: 100vh;
        width: 100%;

        &_top {
            height: 25%;
            padding: 80px 100px 20px 100px;
            box-sizing: border-box;

            label {
                font-size: 35px;
                font-family: 'Times New Roman', Times, serif;
                font-weight: 500;
            }

            p {
                color: rgb(96, 94, 94);
                font-size: 14px;
            }
        }

        &_middle {
            height: 60%;
            display: flex;
            justify-content: space-between;
            padding: 10px 100px;

            &_left {
                width: 30%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &_card {
                    background-color: #002847;
                    height: 35%;
                    border-radius: 10px;
                    padding: 15px;
                    box-sizing: border-box;

                    p {
                        color: whitesmoke;
                        font-size: 13px;
                    }
                }

                &_chart {
                    height: 63%;
                    border-radius: 10px;
                    background-color: whitesmoke;
                    border: rgb(226, 226, 226) 1px solid;

                    label {
                        font-size: 18px;
                        font-weight: 700;
                        padding: 20px 20px;
                    }
                }

            }

            &_right {
                width: 68%;
                height: 100%;
                border-radius: 10px;
                border: rgb(226, 226, 226) 1px solid;

                &_info {
                    height: 35%;
                    padding: 10px 20px;
                    box-sizing: border-box;

                    label {
                        font-size: 22px;
                        font-weight: 700;
                    }

                    &_cards {

                        margin-top: 20px;
                        display: flex;
                        justify-content: space-between;

                        &_card {
                            height: 35%;
                            border-radius: 10px;
                            padding: 15px;
                            width: 30%;
                            box-sizing: border-box;
                            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


                            p {
                                span {
                                    border-radius: 50%;
                                    margin-right: 5px;
                                    display: inline-block;
                                    height: 10px;
                                    width: 10px;
                                    background-color: #002847;
                                }

                                color: rgb(155, 155, 155);
                                font-size: 13px;
                            }
                        }
                    }
                }

                &_graph {
                    height: 63%;
                    padding: 10px 20px;

                    label {
                        font-size: 18px;
                        font-weight: 700;
                        padding: 20px 20px;
                    }
                }
            }
        }

        &_bottom {
            height: 15%;
            display: flex;
            justify-content: center;
            padding: 10px 100px;
            align-items: center;

            div {
                padding: 10px 10px;
                border-radius: 10px;
                border: rgb(226, 226, 226) 1px solid;
                width: 100%;
                text-align: center;
                font-size: 16px;
                font-weight: 700;
            }
        }
    }

    &_5th {
        height: 60vh;
        width: 100%;
        background-color: whitesmoke;

        &_top {
            display: flex;
            flex-direction: column;
            padding: 50px;
            box-sizing: border-box;
            align-items: center;
            width: 100%;
            height: 40%;

            label {
                font-size: 46px;
                font-family: 'Times New Roman', Times, serif;
                font-weight: 500;
            }

            p {
                font-weight: 500;
                text-align: center;
                color: rgb(103, 103, 103);
            }
        }

        &_bottom {
            width: 100%;
            height: 60%;
            padding: 0px 80px 0px 80px;
            box-sizing: border-box;
            display: flex;
            justify-content: space-around;

            &_cards {
                border-radius: 10px;
                background-color: whitesmoke;
                width: 350px;
                height: 250px;
                padding: 0px 20px 0px 20px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                &_icon {
                    height: 25%;
                    padding: 20px 0px 0px 10px;
                    box-sizing: border-box;

                    i {
                        background-color: #015ca3;
                        padding: 8px;
                        border-radius: 5px;
                        color: whitesmoke;
                    }
                }

                &_content {
                    height: 30%;
                }

                &_profile {
                    height: 30%;
                    display: flex;
                    align-items: center;

                    img {
                        border: 1px solid black;
                        border-radius: 50%;
                        width: 15%;
                        height: 70%;
                        margin-right: 10px;
                    }

                    span {
                        :first-child {
                            color: black;
                            font-weight: 700;
                        }
                    }

                }

                section {
                    label {
                        font-size: 16px;
                        font-weight: 600;
                    }

                    p {
                        color: rgb(103, 103, 103);
                        font-size: 12px;
                    }

                }
            }
        }
    }

    &_6th {
        height: 100vh;
        width: 100%;

        &_top {
            height: 25%;
            padding: 80px 100px 20px 100px;
            box-sizing: border-box;
            text-align: center;

            label {
                font-size: 35px;
                font-family: 'Times New Roman', Times, serif;
                font-weight: 500;
            }

            p {
                color: rgb(96, 94, 94);
                font-size: 14px;
            }
        }

        &_middle {
            height: 60%;
            display: flex;
            justify-content: space-between;
            padding: 10px 100px;

            &_left {
                width: 30%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: #002847;
                border-radius: 10px;
                padding: 15px;
                box-sizing: border-box;

                section {
                    p {
                        color: whitesmoke;
                    }

                    label {
                        color: rgb(202, 202, 202);
                        font-size: 14px;
                    }

                    input {
                        padding-left: 10px;
                        width: 98%;
                        outline: none;
                        border: none;
                        border-radius: 10px;
                        height: 35px;
                    }
                }

                &_btn {
                    button {
                        background-color: #0176d2;
                        outline: none;
                        border: none;
                        color: whitesmoke;
                        font-size: 18px;
                        width: 100%;
                        height: 40px;
                        border-radius: 10px;
                    }
                }

            }

            &_right {
                width: 68%;
                height: 100%;
                border-radius: 10px;
                border: rgb(226, 226, 226) 1px solid;

                &_info {
                    height: 25%;
                    padding: 10px 20px;
                    box-sizing: border-box;

                    &_cards {

                        margin-top: 10px;
                        display: flex;
                        justify-content: space-between;

                        &_card {
                            height: 35%;
                            border-radius: 10px;
                            padding: 15px;
                            width: 30%;
                            box-sizing: border-box;
                            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


                            p {
                                span {
                                    border-radius: 50%;
                                    margin-right: 5px;
                                    display: inline-block;
                                    height: 10px;
                                    width: 10px;
                                    background-color: #002847;
                                }

                                color: rgb(155, 155, 155);
                                font-size: 13px;
                            }
                        }
                    }
                }

                &_graph {
                    height: 63%;
                    padding: 10px 20px;

                    p {
                        color: rgb(161, 161, 161);
                        font-size: 14px;
                    }
                }
            }
        }

        &_bottom {
            height: 15%;
            display: flex;
            justify-content: center;
            padding: 10px 100px;
            align-items: center;

            div {
                padding: 10px 10px;
                border-radius: 10px;
                border: rgb(226, 226, 226) 1px solid;
                width: 100%;
                text-align: center;
                font-size: 15px;
                font-weight: 700;
            }
        }
    }

    &_7th {
        min-height: 55vh;
        width: 100%;
        display: flex;
        justify-content: center;

        &_main {
            width: 50%;
            height: 100%;
            text-align: center;

            label {
                font-size: 35px;
                font-family: 'Times New Roman', Times, serif;
                font-weight: 500;
            }

            p {
                color: rgb(96, 94, 94);
                font-size: 14px;
            }
        }
    }

    &_8th {
        min-height: 100vh;
        width: 100%;

        &_top {
            height: 20%;
            padding: 80px 100px 20px 100px;
            // box-sizing: border-box;
            text-align: center;

            label {
                font-size: 35px;
                font-family: 'Times New Roman', Times, serif;
                font-weight: 500;
            }

            p {
                color: rgb(96, 94, 94);
                font-size: 14px;
            }
        }

        &_middle {
            height: 65%;
            display: flex;
            flex-direction: column;
            padding: 10px 100px;

            &_top,
            &_bottom {
                height: 95%;
                display: flex;
                justify-content: space-around;
                width: 100%;
            }

            &_cards {
                border-radius: 10px;
                background-color: whitesmoke;
                width: 35%;
                height: 200px;
                padding: 0px 20px 0px 20px;
                margin-bottom: 20px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                &_icon {
                    height: 40%;
                    padding: 20px 0px 0px 10px;
                    box-sizing: border-box;

                    i {
                        background-color: #015ca3;
                        padding: 8px;
                        border-radius: 5px;
                        color: whitesmoke;
                    }
                }

                &_content {
                    height: 60%;
                }

                section {
                    label {
                        font-size: 16px;
                        font-weight: 600;
                    }

                    p {
                        color: rgb(103, 103, 103);
                        font-size: 12px;
                    }

                }
            }

        }

        &_bottom {
            height: 15%;
            display: flex;
            justify-content: center;
            padding: 10px 100px;
            align-items: center;

            div {
                padding: 10px 10px;
                border-radius: 10px;
                border: rgb(226, 226, 226) 1px solid;
                width: 100%;
                text-align: center;
                font-size: 15px;
                font-weight: 700;
            }
        }
    }

    &_footer {
        height: 50vh;
        width: 100%;
        background-color: #002847;
        padding: 10px 100px;
        box-sizing: border-box;

        header {
            height: 80%;
            color: rgb(179, 179, 179);
            display: flex;
            padding-top: 20px;
            box-sizing: border-box;
        }

        &_col1 {
            width: 30%;

            label {
                font-size: 35px;
                color: whitesmoke;
            }
        }

        &_col2 {
            width: 20%;
        }

        &_col3 {
            width: 20%;
        }

        &_col4 {
            width: 15%;
        }

        &_col5 {
            width: 15%;
        }

        &_col2,
        &_col3,
        &_col4,
        &_col5 {
            label {
                font-size: 14px;
                font-weight: 700;
                color: whitesmoke;
            }
        }

        footer {
            height: 20%;
            border-top: 1px solid rgb(165, 165, 165);
            color: whitesmoke;
        }
    }
}

button {
    cursor: pointer;
    transition: all 0.3s ease-in-out; // Smooth transition for hover effects

    &:hover {
        background-color: #013d6b; // Darker shade on hover
        transform: scale(1.05); // Slightly enlarges the button
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); // Adds subtle shadow
    }

    &:active {
        transform: scale(0.95); // Adds a press-down effect
    }
}